html{
  height: 100%;
}

body{

    position: relative;
    top:0;
     font-family: sans-serif;
     color:honeydew;
    
     background:linear-gradient(#141e30, #243b55)
}

.login h3{
    text-align: center;
    padding: 0;
    font-size: 25px;
    margin: 30px 0 40px;
   font-family:sans-serif;
   font-style: oblique;
}
.login input[type=text]{
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    padding-bottom: 13px;
    width:300px;
    border:none;
    border-bottom: 2px solid honeydew;
    background:transparent;
    outline: none;
    cursor: pointer;
    color: honeydew;
    font-size: 18px;

}

.login label{
    margin-left: 50px;
    font-size: 14px;
    opacity: 0.7;

}

.login input[type=password]{
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 13px;
    width:300px;
    border:none;
    border-bottom: 2px solid honeydew;
    background:transparent;
    outline: none;
    cursor: pointer;
    color: honeydew;

}
       


#form_login {
    left      : 48%;
    top       : 260px;
    position  : absolute;
    background:rgb(36, 41, 41);
        width: 400px;
        height: 400px;
        border-radius: 20px;
        box-sizing: border-box;
        box-shadow:0px 7px 7px 7px rgb(59, 54, 54);}

title
{display: block;
    font-style: italic;

}

.btn{
     text-align: center;
        margin:20px 70px 20px 130px;
        padding-left: 50px;
        padding-right: 50px;
        padding-top:10px;
        padding-bottom: 10px;
        background-color: ivory;
        color:black;
        border-radius: 6px;
        font-size: 15px;
        font-weight: bolder;
        transition-duration: 0.5s;
}
.btn:hover{
    color: white;
    background-color: rgb(84, 84, 121);
cursor: pointer;
}

.login a{
    margin-top:5px;
    margin-left: 150px;
    font-family: sans-serif;
    color:red;

}

img {
    position: absolute;
    top:50px;
    left:55%;
    border-radius: 23px;
    width:170px;  
    height:170px; 
    box-sizing: border-box; 
    border-style:ridge;
    border-color:#516469;
    border-width: 11px;

    
    
}
 img:hover{
     cursor: pointer;
     opacity: 0.6;
 }

 .foot {
    margin:10px 10px 20px 10px;
    padding: 0;
    padding-top: 300px;
    padding-left:20px;
    padding-right: 20px;
    width: 200px;
    background-color: rgb(40, 31, 58);
    border-radius: 10px;
    position: fixed;
    height: 100%;
    overflow: auto;
    font-family: sans-serif;
    color: mintcream;
    box-shadow: 2px 2px 2px 2px#243b55;
  }

.foot a{
text-decoration: none;
color:oldlace;
padding: 10px 10px 10px 10px;
font-size: 18px;
}

.foot a:hover{
    background-color: rgb(37, 112, 81);
    opacity: 0.5;
}

